@media(620px) {
  .btn-custom {
    max-width: 20px;
  }
}

@media (max-width: 580px) {
  .container {
    padding-left: 35px;
    padding-right: 35px;
    margin-left: auto;
    margin-right: auto;
  }
}

.bold-border {
  border-width: 20px;
  /* You can adjust the thickness as needed */
  border-color: black;
  /* You can use any color you prefer */
}