@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

html,
body {
  height: 100%;
  margin-bottom: -50px;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;

  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  position: static;
}

.footer-distributed {
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  /* Remove position: fixed; */
  bottom: 0;
  font: bold 16px sans-serif;
  padding: 20px 50px;
  height: 14vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
  margin-left: 120px;
  margin-right: 80px;
  padding-right: 10px;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 20px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
.icon-info2 {
  position: horizontal;
  padding-right: 30px;
  margin-right: 20px;
}

.footer-distributed .footer-center .icon-info {
  display: flex;
  align-items: center;
}

.footer-distributed .footer-center .icon-info p {
  margin-left: 10px;
}

.footer-distributed .footer-center {
  width: 35%;
  display: flex;
  justify-content: center;
}

.footer-distributed .footer-center div {
  display: flex;
  align-items: center;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 70px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  margin-right: 20px;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 46px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
  ;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 50%;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 20px;
}


.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 45px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  display: inline-block;
  width: 45px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
  color: rgb(84, 84, 243);
}

@media (max-width: 880px) {
  section {
    width: 100%;
    display: inline-block;
    background: #333;

    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    position: static;
  }

  .footer-distributed {
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    /* Remove position: fixed; */
    bottom: 0;
    font: bold 16px sans-serif;
    padding: 20px 50px;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-distributed .footer-left {
    margin-right: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .footer-left-vertical {
    display: flex;
    flex-direction: column;
    margin-left: -30px;
  }

  .footer-company-name {
    display: none;
  }

  .rotated-text {
    transform: rotate(-90deg);
    margin-left: -30px;
  }

  .footer-distributed .footer-center {

    margin-left: 30px;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
  }

  .icon-info2 {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
  }

  .footer-distributed .footer-center p {
    display: flex;
    flex-direction: column;
  }

  .footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 15px;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;

  }

  .under {
    margin-left: 30px;
  }
}

@media(max-width: 460px) {
  .footer-distributed .footer-icons {
    margin-top: 25px;
    margin-left: -15px;
    padding-left: -15px;
  }

  icon-info2 {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }

  .under {
    margin-left: 30px;
  }



}

@media (max-width: 1440px) {
  section {
    width: 100%;
    display: inline-block;
    background: #333;

    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    position: static;
  }

  .footer-distributed {
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    /* Remove position: fixed; */
    bottom: 0;
    font: bold 16px sans-serif;
    padding: 20px 50px;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-distributed .footer-left {
    margin-right: 10px;
    margin-left: -30px;
    display: flex;
    flex-direction: column;
    height: 12vh;
    align-items: center;

  }

  .footer-left-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer-company-name {
    display: none;
  }

  .footer-distributed .footer-center {
    margin-right: 10px;
    margin-left: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 40vh;
  }

  .footer-distributed .footer-right {
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
  }

  .icon-info2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer-distributed .footer-center p {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }


  .footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 15px;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
  }

  .under {
    margin-left: 30px;
  }
}

@media screen and (orientation: landscape) {
  .icon-info2 {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
  }

  .footer-distributed {
    /* Update the height as per your requirement */
    height: 60vh;
    /* Change this value to adjust the height */
  }

  .footer-distributed .footer-center i.fa-envelope,
  .footer-distributed .footer-center i.fa-phone {
    /* Adjust the font-size to make the icons smaller */
    font-size: 6px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
  }

  .footer-distributed .footer-center p {
    display: flex;
    flex-direction: column;
  }

  .rotated-text {
    transform: none;
    margin-left: 0;
    font-size: 12px;
  }

  .footer-distributed .footer-center,
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    height: auto !important;
    /* Remove the fixed height */
    font-size: 12px;
    display: flex;
    /* Add flex display to align items horizontally */
    flex-direction: column;
    /* Align items in a column */
    justify-content: center;
    /* Center the items vertically */
  }

  .footer-distributed .footer-icons a {
    font-size: 12px;
    /* Adjust the font-size to make the icons smaller */
    margin-right: 10px;
    /* Add some space between the icons */
  }

  p {
    font-size: 14px;
  }

  .under {
    margin-left: 12px;

  }

  .footer-center {
    font-size: 12px;
  }
}